@import "tailwindcss";

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial;
  transition: background-color 0.4s ease, color 0.3s ease;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

/* ---------- DARK MODE BACKGROUND (STATIC, AUTH STYLE) ---------- */
body.dark {
  color: #e5e7eb;
  background:
    linear-gradient(180deg, #0f1115, #0f1115);
}

/* ---------- LIGHT MODE ---------- */
body.light {
  color: #2f3034;
  background:
    linear-gradient(180deg, #f8fafc, #eef2ff);
}


@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.animate-gradient {
  background-size: 300% 300%;
  animation: gradient 6s ease infinite;
}
