@import "tailwindcss";

/* ---------- Global base styles ---------- */
html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #0b0f19; /* deep dark blue */
  color: white;
  font-family: ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    "Apple Color Emoji", "Segoe UI Emoji";
}
